# Generated settings:
shareComment=""
shareInclude="disk1"
shareExclude="disk2"
shareUseCache="no"
shareCachePool=""
shareCachePool2=""
shareCOW="auto"
shareAllocator="highwater"
shareSplitLevel=""
shareFloor="195300000"
shareExport="e"
shareCaseSensitive="auto"
shareSecurity="private"
shareReadList=""
shareWriteList="proxmox"
shareVolsizelimit=""
shareExportNFS="e"
shareExportNFSFsid="109"
shareSecurityNFS="private"
shareHostListNFS="10.10.10.3(rw,all_squash,anonuid=100999,anongid=100999)"
