# Generated settings:
shareComment=""
shareInclude=""
shareExclude=""
shareUseCache="no"
shareCachePool=""
shareCachePool2=""
shareCOW="auto"
shareAllocator="highwater"
shareSplitLevel=""
shareFloor="195256068"
shareExport="e"
shareCaseSensitive="auto"
shareSecurity="private"
shareReadList=""
shareWriteList="pma-employees"
shareVolsizelimit=""
shareExportNFS="-"
shareExportNFSFsid="0"
shareSecurityNFS="public"
shareHostListNFS=""
