# Generated settings:
shareComment=""
shareInclude=""
shareExclude=""
shareUseCache="no"
shareCachePool=""
shareCachePool2=""
shareCOW="auto"
shareAllocator="highwater"
shareSplitLevel=""
shareFloor="195256068"
shareExport="-"
shareCaseSensitive="auto"
shareSecurity="public"
shareReadList=""
shareWriteList=""
shareVolsizelimit=""
shareExportNFS="e"
shareExportNFSFsid="110"
shareSecurityNFS="private"
shareHostListNFS="10.10.10.25(sec=sys,rw,no_root_squash)"
