# Generated settings:
shareDisk="auto"
shareUser="e"
shareUserInclude=""
shareUserExclude=""
shareUserEmptying=""
shareUserExclusive="no"
shareSMBEnabled="yes"
shareNFSEnabled="yes"
shareNFSFsid="111"
shareInitialOwner="Administrator"
shareInitialGroup="Domain Users"
shareCacheEnabled="yes"
shareCacheFloor="2000000"
shareMoverSchedule="40 3 * * *"
shareMoverLogging="no"
shareNameVeto="/lost+found/LOST+FOUND/"
fuse_remember="4000"
fuse_directio="auto"
fuse_useino="yes"
shareNOFILE=""
shareAvahiEnabled="yes"
shareAvahiSMBName="%h"
shareAvahiSMBModel="Xserve"
